<br>

<div>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
        <div *ngIf="loginForm.get('username').errors.required">
          <span style="color: red;">Username is required</span>
        </div>
        <div *ngIf="loginForm.get('username').errors.pattern">
          <span style="color: red;">Usernames must only contain letters, numbers & special character (@-_.)</span>
        </div>
      </div>
    </div> &nbsp;
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <div *ngIf="loginForm.get('password').errors.required">
          <span style="color: red;">Password is required</span>
        </div>
        <div *ngIf="loginForm.get('password').errors.pattern">
          <span style="color: red;">Passwords must contain at least one capital letter, one lowercase letter, one number, one special character, and be at least 6 characters long.</span>
        </div>
      </div>
    </div>
  <button type="submit" [disabled]="loginForm.invalid">Log in</button>
  &nbsp;
  <!-- <button (click)="loginWithGoogle()" id="g_id_onload">
    Google
  </button> -->
  <button id="g_id_onload">
    Google
  </button>
  <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>

  </form>
</div>
