<div>
  <h1>Weather API</h1>
  <form>
    <div>
      <label for="lon">lon:</label>
      <input type="number" name="lon" [(ngModel)]="lon">
      &nbsp;
      <label for="lat">lat:</label>
      <input type="number" name="lat" [(ngModel)]="lat">
      &nbsp;
      <button>Submit</button>
    </div>
  </form>
  <p>city_name: {{urldata.city_name}}</p>
  <p>lon:{{urldata.lon}}, lat:{{urldata.lat}}</p>
  <p>state_code:{{urldata.state_code}}</p>
  <p>timezone:{{urldata.timezone}}</p>
  <p>country_code:{{urldata.country_code}}</p>
  <p>data:</p>
  <table border="1" cellspacing="0" cellpadding="10">
    <tr>
      <td>pres</td>
      <td>clouds</td>
      <td>vis</td>
      <td>wind_spd</td>
    </tr>
    <tr *ngFor="let d of urldata.data">
      <td>{{d.ghi}}</td>
      <td>{{d.dhi}}</td>
      <td>{{d.dhi}}</td>
      <td>{{d.dhi}}</td>
    </tr>
  </table>
</div>


<div>
  <h1>Users Table</h1>
  <input type="text" id="searchText" [(ngModel)]="searchText" name="searchText" placeholder="Search">

  <table border="1" cellspacing="0" cellpadding="10">
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>User Name</td>
      <td>User Name</td>
      <td>Email</td>
    </tr>
    <tr *ngFor="let d of data | search:searchText | paginate: {
      itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count }">
      <td>{{d.id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.username}}</td>
      <td>{{d.email}}</td>
      <td>{{d.address.street}}, {{d.address.zipcode}}</td>
    </tr>
  </table>
  <div id="my-pagination">
  <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>

  </div>

</div>
